.skillouter{
    border: 1.5px solid none;
    border-radius: 15px;
    padding: 20px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skillinner{
    background-color: white;
    background: white;
   
    height: 100%;
    margin: auto;
    align-items: center;
    padding-bottom: 50px;
}
.skillinner:hover{
    background: black;
    background-image: white;
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 1.5s;
    color:white
}
.projectouter{
    border: 2px solid black;
    padding: 20px;
    border-radius: 50px;
   
}
.projectouter:hover{
    border: 1px solid black;
    background: black;
    background-image: black;
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 1.5s;
    color: white;
}
.iconbutton {
    text-decoration: none;
    border-radius: 60px;
    display: inline;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
  }
  
  .iconbutton:hover {
    max-width: 500px;
  }
  
  .icon {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
  }
  
  .text {
    white-space: nowrap;
    padding-right: 15px;
  }

  .first  {
    color: red;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .code{
    font-size: 25px;
    color: red;
  }

  .last{
    font-size: 27px;
    color: red;
  }